*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #191919;
    color: #FFFFFF;
    padding: 0 5%;
}

.main{
    box-sizing: border-box;
    margin: 0 auto;
    
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    

    


}
.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;


}
.header {

		&__logo {
            max-width: 160px;
            a{
                display: inline-block;
            }
		}

		
}

.header__nav{
    align-self: flex-end;

}

.nav__links{
    align-self: flex-end;
}

.nav-link {
    margin-left: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;

    
    
    
    color: #fff;
    text-decoration: none;
}

.nav-link-active {
    color: #118DA8;
    font-size: 17px;
}

//profile-card// 

.profile-card {
    margin-bottom: 5%;

    &__wrapper {
        display: flex;
        flex-direction: row;
        
        align-items: center;
        
        box-sizing: border-box;
        flex-wrap: wrap;


    }

    &__column {
        .column__img{
            margin-bottom: 15%;
        }

        img{
            
            width: 100%;
            height: 100%;
            border-radius: 15px;
            max-width: 650px;
            max-height: 873px;
            
        }
    }


    &__column-text {
        align-items: center;
        text-align: left;
        margin-left: 10%;
        max-width: 583px;

        flex: 0 1 50%;


    }

    &__heading {
        margin-bottom: 90px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 88px;
        /* or 126% */
        
        letter-spacing: 3.2px;
        
        color: #FFFFFF;

        span.underline{
            position: relative;
            &::after{
                content: '';
                background-image: url(/images/green_underline.svg);
                width: 160px;
                height: 105px;
                z-index: 2;
                position: absolute;
                top: 10px;
                right: 10px;
                display: inline-block;
            }
            
            
            font-size: 75px;
            
            
        
        }
        span{
            font-weight: 700;
            font-size: 80px;
        }
    }

    &__subtitle {
        display: inline-block;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 15px;
        margin-left: 20px;

    }


    &__socials{

        margin-left: 20px;
        max-width: 245px;
        max-height: 32px;
    }
}


//episodes// 



.episode-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 4%;
    margin: 0 auto;


    &__heading {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 79px;
        /* identical to box height, or 124% */
        align-self: top;
    
        letter-spacing: 2.88px;
        @media screen  and (max-width:850px){
            font-size: 30px;
            
        }

    &__btn{
        margin-left: auto;
    }
        
    }


}
.general-btn {
    min-width: 180px;
    min-height: 50px;
    background-color: #118DA8;
    border-radius: 5px;
    display: grid;
    align-items: center;
    text-align: center;
        
    a{
        display: inline-block;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        color: #FFFFFF;
        text-decoration: none;
        
    }
}
.episodes-clmn {
    background-color: #000;
    box-sizing: border-box;
    border-radius: 32px;
    margin-bottom: 4%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    
    
    


    &__img {
        img{
            display: inline-block;
            width: 100%;
        }
        margin-right: 4%;
        
        
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 778px;
        
    
    }

    &__type {
        
    
        span{
            display: inline-block;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            background-color: #191919;
            border-radius: 6px;
            padding: 0 2%;
        }   
    }

    &__num {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 27px;
        /* identical to box height, or 159% */
        
        
        color: #118DA8;
        padding-top: 5%;
        width: 100%;
        
    }

    &__heading {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;
        /* or 110% */
        
        letter-spacing: 2.56px;
        max-width: 100%;
        @media screen and (max-width:850px){
            font-size: 35px;
            
            
        }
    }

    &__paragraph {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* or 150% */
        
        
        color: rgba(255, 255, 255, 0.7);
        @media screen and (max-width:850px){
            font-size: 18px;
            margin-bottom: 10px;
            
            
        }
    }
    &__btn{
        max-width: 200px;
    }
}


.episodes-clmn__wrapper{
    display: flex;
    flex-direction: column;
    
}

//host// 

.host {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 200px auto;
    }

    &__text-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 556px;
        
        
    }

    &__img-column {
        max-width: 650px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}

.text-column {

    &__arrow {
        max-width: 112px;
        min-height: 112px;
        background: #118DA8;
        border-radius: 400px;
        display: grid;
        align-items:center;
        img{
            display: inline-block;
            padding-left: 5%;
        }
        margin-bottom: 20px;
    
    }

    &__uptitle {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height, or 150% */
        
        
        color: #118DA8;
        
    }

    &__heading {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 79px;
        /* identical to box height, or 122% */
        
        letter-spacing: 2.88px;
        
        color: #FFFFFF;
    }

    &__paragraphs {
        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        /* or 150% */
        
        
        color: rgba(255, 255, 255, 0.7);
        p:not(:last-child){
            margin-bottom: 33px;
        }
    }
}
//form// 

.form {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 60px 60px 90px 60px;
        background-color: #000000;
        border-radius: 32px;
        height: 100%;
        flex-wrap: wrap;


        @media screen  and (max-width: 670px){
            max-width: 450px;
            
            
        }
        
    }
}


.form-info {
    margin-bottom:5% ;
    &__title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height, or 150% */
        
        
        color: #118DA8;
        
        
    }

    &__heading {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 79px;
        /* or 110% */
        
        letter-spacing: 2.88px;
        
        color: #FFFFFF;
        max-width: 431px;

        @media screen  and (max-width: 800px){
            font-size: 40px;
            
            
        }
    }
}
.form-column {
    margin-left: auto;
    max-width: 520px;
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }


    &__name {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: #191919;
        border: 1px solid #191919;
        border-radius: 6px;
        height: 100%;
        max-height: 82px;
        font-size: 18px;
        color: #fff;
    }

    &__email {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: #191919;
        border: 1px solid #191919;
        border-radius: 6px;
        margin-bottom: 20px;
        height: 100%;
        max-height: 82px;
        font-size: 18px;
        color: #fff;
        
        
    }

    &__btn {
        min-width: 87px;
        min-height: 48px;
        background-color: #118DA8;
        border-radius: 6px;
        display: grid;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 0.7);
        border: none;
    }
}
//review// 

.review {

    &__container {
        
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;
        margin: 15% auto;

    }
}

.star-column {
    box-sizing: border-box;
    background: #000000;
    border-radius: 32px;
    padding: 60px;
    
    &__stars {
        margin-bottom: 21px;
        max-width: 120px;
    }
    
    @media screen  and (max-width:450px){
        max-width: 365px;
        
    }


    &__message {
        box-sizing: border-box;
        max-width: 320px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        /* or 120% */
        margin-bottom: 19px;
        
        
        color: #FFFFFF;

        @media screen  and (max-width:850px){
            max-width: 200px;
            
        }
        
    }

    &__subtitle {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height, or 120% */
        
        
        color: rgba(255, 255, 255, 0.7);
        
    }
}


//footer// 

.footer {

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 300px;
        align-items: baseline;
        flex-wrap: wrap;
    }
}

.castaway-social {

    

    &__socials {
        margin-bottom: 25px;
    }
}
.castaway-social-logo {
    margin-bottom: 25px;
}

.footer-menus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    &__links:not(:last-child) {
        margin-right: 120px;
    
    }
    &__linkss{
        margin-right: 10px;
    }
    &__link {
        list-style: none;
        a{
            text-decoration: none;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 27px;
            /* identical to box height, or 159% */
            
            
            color: #FFFFFF;
            
        }
    }
}
.footer-medias {
    
    img{
        width: 245px;
    }
}